@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




body {
  background-color: #ffffd1;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  margin: 40px auto;
}

button {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #90ee90;
  color: #000000;
  border: 1px solid #90ee90;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
  gap: 10px;
}

.inputWrapper input {
  width: 100%;
  font-size: 16px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.ViewTask {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
  color: #ffffff;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.ViewTask span {
  margin-left: 5px;
}

.viewTaskWrapper ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.viewTaskWrapper ul li {
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.viewTaskWrapper ul li.pending {
  background-color: #f8f89e;
}

.viewTaskWrapper ul li.complete {
  background-color: #cbffbb;
}

.viewTaskWrapper ul li .buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.viewTaskWrapper ul li .buttonWrapper select {
  font-size: 16px;
  background: #ff4500;
  color: #ffffff;
  border: 0;
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.viewTaskWrapper ul li .buttonWrapper select:focus {
  outline: none;
}
